Grupo9-master/Node-Red/Microcontrolador.txt
[{"id":"639335ca.278d5c","type":"tab","label":"Telemetry Flow","disabled":false,"info":""},{"id":"6f48cf3e.cfd69","type":"tab","label":"Processing Flow","disabled":false,"info":""},{"id":"8a0421ea.83b38","type":"tab","label":"Interfaz Web","disabled":false,"info":""},{"id":"e2270ed8.4e95c","type":"serial-port","z":"","serialport":"COM4","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","newline":"\\n","bin":"false","out":"char","addchar":true},{"id":"74dab405.2c6e74","type":"mongodb","z":"","hostname":"127.0.0.1","port":"27017","db":"rediot","name":""},{"id":"e50819e8.10687","type":"ui_group","z":"","name":"Mediciones","tab":"499df274.30854c","disp":true,"width":"10"},{"id":"b8142856.92cc18","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"bd78f4e4.87589","type":"ui_tab","z":"","name":"Home","icon":"dashboard"},{"id":"14667364.a41d1d","type":"serial-port","z":"","serialport":"/dev/tty.usbserial-A100E12Y","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","newline":"\\n","bin":"false","out":"char","addchar":true},{"id":"499df274.30854c","type":"ui_tab","z":"","name":"Ruido","icon":"dashboard"},{"id":"548610b9.09c4c","type":"ui_tab","z":"","name":"Temperatura","icon":"dashboard"},{"id":"c6c6f6e4.eb2eb","type":"ui_group","z":"","name":"Mediciones","tab":"548610b9.09c4c","disp":true,"width":"10"},{"id":"74d6f1e.ee1cd9","type":"ui_tab","z":"","name":"Iluminación","icon":"dashboard"},{"id":"d8fc1335.cca408","type":"ui_group","z":"","name":"Mediciones","tab":"74d6f1e.ee1cd9","disp":true,"width":"10"},{"id":"45b28076.2d228","type":"ui_tab","z":"","name":"Gases","icon":"dashboard"},{"id":"34626b98.0560f4","type":"ui_group","z":"","name":"Mediciones","tab":"45b28076.2d228","disp":true,"width":"10"},{"id":"a37a00f5.4be05","type":"serial in","z":"639335ca.278d5c","name":"Send temperature","serial":"14667364.a41d1d","x":134.5,"y":206,"wires":[["23d8bd1d.c52b4a","a650114b.73c4c8"]]},{"id":"51058877.bc14e","type":"inject","z":"639335ca.278d5c","name":"Sensor Time","topic":"roomTime","payload":"","payloadType":"date","repeat":"1","crontab":"","once":true,"x":132.5,"y":383,"wires":[["28860b9b.8dc2ac","834a2b5b.ed4b9"]]},{"id":"a650114b.73c4c8","type":"function","z":"639335ca.278d5c","name":"Format Temperature","func":"var res = {};\nvar tempArray = [];\nvar unit =\"\";\n\ninfoString = msg.payload;\ntempArray = infoString.split(\"\\t\");\nif(tempArray[1] != null)\n    unit = tempArray[1].replace(\"\\r\\n\", \"\");\nswitch (unit) {\n    case \"C\":\n        res.topic = \"Temp\";\n        break;\n    case \"dB\":\n        res.topic = \"Ruid\";\n        break;\n    case \"Lux\":\n        res.topic = \"Ilum\";\n        break;\n    case \"ppm\":\n        res.topic = \"CO\";\n        break;\n    default:\n        res = null;\n    \tbreak;\n    }\n    if(res!= null)\n    {\n        res.payload = {};\n         res.payload = {\"data\": parseInt(tempArray[0]), \"unit\": unit,\"place\": \"Deposito Externo\"};\n    }\nreturn res;","outputs":1,"noerr":0,"x":465.5,"y":217,"wires":[["7cf0f19e.3543d8","23d60186.c083fe","fea5c726.3d9df"]]},{"id":"834a2b5b.ed4b9","type":"function","z":"639335ca.278d5c","name":"Format Time","func":"var res = {};\n\nres.payload = new Date(msg.payload);\nres.topic = msg.topic;\n\nreturn res;","outputs":1,"noerr":0,"x":474.5,"y":383,"wires":[["3db38d90.7eaeba","23d60186.c083fe"]]},{"id":"23d8bd1d.c52b4a","type":"debug","z":"639335ca.278d5c","name":"Before format","active":false,"console":"false","complete":"payload","x":444.5,"y":150,"wires":[]},{"id":"28860b9b.8dc2ac","type":"debug","z":"639335ca.278d5c","name":"Before format","active":false,"console":"false","complete":"payload","x":447.5,"y":317,"wires":[]},{"id":"7cf0f19e.3543d8","type":"debug","z":"639335ca.278d5c","name":"After format","active":false,"console":"false","complete":"payload","x":695.5,"y":155,"wires":[]},{"id":"3db38d90.7eaeba","type":"debug","z":"639335ca.278d5c","name":"After format","active":false,"console":"false","complete":"payload","x":699.5,"y":466,"wires":[]},{"id":"23d60186.c083fe","type":"function","z":"639335ca.278d5c","name":"Merge 2 Msgs","func":"context.data = context.data || {};\n\nswitch (msg.topic) {\n    case \"roomTime\":\n        context.data.sensetime = msg.payload;\n        msg = null;\n        break;\n    case \"Temp\":\n        context.data.Temp = msg.payload;\n        msg = null;\n        break;\n    case \"Ruid\":\n        context.data.Ruid = msg.payload;\n        msg = null;\n        break;\n    case \"Ilum\":\n        context.data.Ilum = msg.payload;\n        msg = null;\n        break;\n    case \"CO\":\n        context.data.CO = msg.payload;\n        msg = null;\n        break;    \n    default:\n        msg = null;\n    \tbreak;\n}\n\nif(context.data.sensetime != null && context.data.Temp != null) {\n\tres = {};\n    res.payload = JSON.stringify(context.data);\n    res.topic = \"data\";\n    context.data = null;\n\treturn res;\n}","outputs":1,"noerr":0,"x":709.5,"y":315,"wires":[["a0c08979.f57af","62e8c6c2.cffb5"]]},{"id":"a0c08979.f57af","type":"debug","z":"639335ca.278d5c","name":"After Merge","active":false,"console":"false","complete":"payload","x":954.5,"y":355,"wires":[]},{"id":"62e8c6c2.cffb5","type":"udp out","z":"639335ca.278d5c","name":"Send Temp","addr":"localhost","iface":"","port":"6000","ipv":"udp4","outport":"","base64":false,"multicast":"false","x":954.5,"y":277,"wires":[]},{"id":"a1d7b104.13f5a8","type":"udp in","z":"6f48cf3e.cfd69","name":"UDP Incoming","iface":"","port":"6000","ipv":"udp4","multicast":"false","group":"","datatype":"utf8","x":150.5,"y":158,"wires":[["be164b14.91a1e8","3d68bb16.f6ec3c"]]},{"id":"be164b14.91a1e8","type":"debug","z":"6f48cf3e.cfd69","name":"JSON","active":false,"console":"false","complete":"payload","x":352.5,"y":115,"wires":[]},{"id":"3d68bb16.f6ec3c","type":"json","z":"6f48cf3e.cfd69","name":"","pretty":true,"x":343.5,"y":193,"wires":[["173d9caf.9658f3","b6556481.8c5918"]]},{"id":"173d9caf.9658f3","type":"debug","z":"6f48cf3e.cfd69","name":"ADD TOPIC","active":false,"console":"false","complete":"payload","x":543.5,"y":175,"wires":[]},{"id":"b6556481.8c5918","type":"function","z":"6f48cf3e.cfd69","name":"Add Topic","func":"var res = {};\n\nres.payload = msg.payload;\nres.topic = \"roomDatas\";\n\nreturn res;","outputs":1,"noerr":0,"x":537.5,"y":238,"wires":[["157c10ae.4f021f","f39f3963.4fd4d"]]},{"id":"157c10ae.4f021f","type":"function","z":"6f48cf3e.cfd69","name":"Merge 2 Msgs","func":"context.data = context.data || {};\n\nswitch (msg.topic) {\n    case \"incomingTime\":\n        context.data.recvtime = msg.payload;\n        msg = null;\n        break;\n    case \"roomDatas\":\n        context.data.room = msg.payload;\n        msg = null;\n        break;\n        \n    default:\n        msg = null;\n    \tbreak;\n}\n\nif(context.data.recvtime != null && context.data.room != null) {\n\tres = {};\n    res.payload = context.data;\n    res.topic = \"data\";\n    context.data = null;\n\treturn res;\n}","outputs":1,"noerr":0,"x":766.5,"y":296,"wires":[["1c6542e1.852c35","66c4842b.3f49e4","5099bf7d.9b148"]]},{"id":"66c4842b.3f49e4","type":"mongodb out","z":"6f48cf3e.cfd69","mongodb":"74dab405.2c6e74","name":"Save Tpsec","collection":"temperaturespec","payonly":true,"upsert":false,"multi":false,"operation":"store","x":982.5,"y":296,"wires":[]},{"id":"1c6542e1.852c35","type":"debug","z":"6f48cf3e.cfd69","name":"¡OK!","active":false,"console":"false","complete":"payload","x":945.5,"y":224,"wires":[]},{"id":"5099bf7d.9b148","type":"link out","z":"6f48cf3e.cfd69","name":"","links":["806641c4.3b312"],"x":966.5,"y":360,"wires":[]},{"id":"d3ebc0df.b1ac8","type":"inject","z":"6f48cf3e.cfd69","name":"Incoming Time","topic":"incomingTime","payload":"","payloadType":"date","repeat":"1","crontab":"","once":true,"x":159.5,"y":443,"wires":[["8baa2169.d586d","9b600e06.1c3a2"]]},{"id":"9b600e06.1c3a2","type":"function","z":"6f48cf3e.cfd69","name":"Format Time","func":"var res = {};\n\nres.payload = new Date(msg.payload);\nres.topic = msg.topic;\n\nreturn res;","outputs":1,"noerr":0,"x":375.5,"y":442,"wires":[["157c10ae.4f021f","f3eeead.8978818"]]},{"id":"8baa2169.d586d","type":"debug","z":"6f48cf3e.cfd69","name":"before","active":false,"console":"false","complete":"payload","x":352.5,"y":375,"wires":[]},{"id":"f3eeead.8978818","type":"debug","z":"6f48cf3e.cfd69","name":"#after","active":false,"console":"false","complete":"payload","x":560.5,"y":510,"wires":[]},{"id":"90488f8b.6fbe4","type":"inject","z":"6f48cf3e.cfd69","name":"Processing Signal","topic":"","payload":"true","payloadType":"bool","repeat":"60","crontab":"","once":false,"x":177.5,"y":655,"wires":[["507591dd.303068","de931089.70e29"]]},{"id":"507591dd.303068","type":"function","z":"6f48cf3e.cfd69","name":"Create Query","func":"  var res = {};\n  res.skip = 0;\n  res.limit = 60;\n  var signal = msg.payload;\n\n  var maxtime = new Date(Date.now() - 1*60*1000).toISOString();\n  var query = {'room.sensetime':{$gte: maxtime}};\n\n  if(signal === true){\n\n      res.payload = query;\n      res.topic = \"mongoQuery\"\n      return res;\n  }","outputs":1,"noerr":0,"x":415.07142639160156,"y":656.4285945892334,"wires":[["29f79b73.03dbcc","9739fb03.0e36e8"]]},{"id":"de931089.70e29","type":"debug","z":"6f48cf3e.cfd69","name":"QUERY","active":false,"console":"false","complete":"payload","x":407.5,"y":592,"wires":[]},{"id":"29f79b73.03dbcc","type":"debug","z":"6f48cf3e.cfd69","name":"FIN CREATE QUERY","active":false,"console":"false","complete":"payload","x":666.9285888671875,"y":762.5714244842529,"wires":[]},{"id":"9739fb03.0e36e8","type":"mongodb in","z":"6f48cf3e.cfd69","mongodb":"74dab405.2c6e74","name":"Find Tpmin","collection":"temperaturespec","operation":"find","x":642.5,"y":633,"wires":[["9a153644.44b6e","f19e763.8f2d788"]]},{"id":"9a153644.44b6e","type":"function","z":"6f48cf3e.cfd69","name":"Processing Avg","func":"var res = {payload:null};\nvar query = msg.payload;\nvar avgUnitT = query[0].room.datos.unitT;\nvar avgUnitI = query[0].room.datos.unitI;\nvar avgUnitR = query[0].room.datos.unitR;\nvar avgUnitC = query[0].room.datos.unitC;\nvar avgPlace = query[0].room.datos.place;\nvar tData = 0;\nvar iData = 0;\nvar rData = 0;\nvar cData = 0;\nvar avgT = 0;\nvar avgI = 0;\nvar avgR = 0;\nvar avgC = 0;\nvar avgTime = 0;\n\n// procesa la temperatura promedio del intervalo\nfor(var i = 0; i < query.length; i++){\n    \n    tData = tData + query[i].room.datos.temp;\n    iData = iData + query[i].room.datos.ilum;\n    rData = rData + query[i].room.datos.ruid;\n    cData = cData + query[i].room.datos.co;\n}\n\navgT = parseInt(tData/query.length);\navgI = parseInt(iData/query.length);\navgR = parseInt(rData/query.length);\navgC = parseInt(cData/query.length);\ntData = 0;\n\n// calcula el tiempo estimado del intervalo\nfor(var i = 0; i < query.length; i++){\n    \n    tData = tData + new Date(query[i].sensetime).getTime();\n}\n\navgTime = Math.round(tData/query.length);\navgTime = new Date(avgTime);\n\nres.payload = {protime:new Date(Date.now()), sensetime:avgTime, datos:{temp:avgT, unitT:avgUnitT, ilum:avgI, unitI:avgUnitI,ruid:avgR, unitR:avgUnitR,co:avgC, unitC:avgUnitC, place:avgPlace}};\nres.topic = \"avgpminTemperature\";\nreturn res;","outputs":1,"noerr":0,"x":879.5,"y":638,"wires":[["d1cfc23e.e74698","6e3fd4ce.4c8e9c","dbaae4fc.7d252"]]},{"id":"d1cfc23e.e74698","type":"debug","z":"6f48cf3e.cfd69","name":"FIN SAVE MIN","active":false,"console":"false","complete":"payload","x":1132.5,"y":558,"wires":[]},{"id":"dbaae4fc.7d252","type":"link out","z":"6f48cf3e.cfd69","name":"","links":["b0e0cdc9.46bbc"],"x":1129.5,"y":718,"wires":[]},{"id":"6e3fd4ce.4c8e9c","type":"mongodb out","z":"6f48cf3e.cfd69","mongodb":"74dab405.2c6e74","name":"Save Tpmin","collection":"temperaturespmin","payonly":false,"upsert":false,"multi":false,"operation":"store","x":1153.5,"y":641,"wires":[]},{"id":"f19e763.8f2d788","type":"debug","z":"6f48cf3e.cfd69","name":"FIN FIND 1","active":false,"console":"false","complete":"payload","x":866.5,"y":722,"wires":[]},{"id":"9d48760e.17e3c8","type":"http request","z":"8a0421ea.83b38","name":"GET /temp/sec/find","method":"GET","ret":"txt","url":"/temperature/sec/find","tls":"","x":157.5,"y":294,"wires":[["908f5f6a.ebbf48"]]},{"id":"a4fd06c0.8a1918","type":"http request","z":"8a0421ea.83b38","name":"GET /temperature/sec/count","method":"GET","ret":"txt","url":"/temperature/sec/count","tls":"","x":189.5,"y":436,"wires":[["60dffd14.e34614"]]},{"id":"d061d74b.f721a","type":"http request","z":"8a0421ea.83b38","name":"GET /temp/min/find","method":"GET","ret":"txt","url":"/temperature/min/find","tls":"","x":160.5,"y":370,"wires":[["e3707b8a.f3b5d"]]},{"id":"a4460597.c74e88","type":"http request","z":"8a0421ea.83b38","name":"GET /temp/min/count","method":"GET","ret":"txt","url":"/temperature/min/count","tls":"","x":170.5,"y":510,"wires":[["346ac737.a7cac"]]},{"id":"908f5f6a.ebbf48","type":"mongodb in","z":"8a0421ea.83b38","mongodb":"74dab405.2c6e74","name":"Find Tpsec","collection":"temperaturespec","operation":"find","x":417.5,"y":294,"wires":[["76c3d09e.1ffb7","70f0b0ce.382b1"]]},{"id":"e3707b8a.f3b5d","type":"mongodb in","z":"8a0421ea.83b38","mongodb":"74dab405.2c6e74","name":"Find Tpmin","collection":"temperaturespmin","operation":"find","x":417.5,"y":370,"wires":[["be775326.e216f"]]},{"id":"60dffd14.e34614","type":"mongodb in","z":"8a0421ea.83b38","mongodb":"74dab405.2c6e74","name":"Count Tpsec","collection":"temperaturespec","operation":"count","x":419.5,"y":436,"wires":[["7e059265.5f99fc"]]},{"id":"346ac737.a7cac","type":"mongodb in","z":"8a0421ea.83b38","mongodb":"74dab405.2c6e74","name":"Count Tpmin","collection":"temperaturespmin","operation":"count","x":417.5,"y":510,"wires":[["550f13ba.d47f24"]]},{"id":"76c3d09e.1ffb7","type":"function","z":"8a0421ea.83b38","name":"Content type","func":"msg.headers = {\"Content-Type\": \"application/json\"};\nreturn msg;","outputs":1,"noerr":0,"x":722.5,"y":294,"wires":[["2de3ac7c.18ea6c"]]},{"id":"be775326.e216f","type":"function","z":"8a0421ea.83b38","name":"Content type","func":"msg.headers = {\"Content-Type\": \"application/json\"};\nreturn msg;","outputs":1,"noerr":0,"x":722.5,"y":371,"wires":[["e56cf060.cfb508"]]},{"id":"7e059265.5f99fc","type":"function","z":"8a0421ea.83b38","name":"Content type","func":"msg.headers = {\"Content-Type\": \"application/json\"};\nreturn msg;","outputs":1,"noerr":0,"x":723.5,"y":437,"wires":[["aab42529.10a798"]]},{"id":"550f13ba.d47f24","type":"function","z":"8a0421ea.83b38","name":"Content type","func":"msg.headers = {\"Content-Type\": \"application/json\"};\nreturn msg;","outputs":1,"noerr":0,"x":720.5,"y":511,"wires":[["ec113708.0d78"]]},{"id":"2de3ac7c.18ea6c","type":"http response","z":"8a0421ea.83b38","name":"find sec","statusCode":"","headers":{},"x":916.5,"y":294,"wires":[]},{"id":"e56cf060.cfb508","type":"http response","z":"8a0421ea.83b38","name":"find min","statusCode":"","headers":{},"x":916.5,"y":372,"wires":[]},{"id":"aab42529.10a798","type":"http response","z":"8a0421ea.83b38","name":"count sec","statusCode":"","headers":{},"x":917.5,"y":438,"wires":[]},{"id":"ec113708.0d78","type":"http response","z":"8a0421ea.83b38","name":"count min","statusCode":"","headers":{},"x":920.5,"y":512,"wires":[]},{"id":"806641c4.3b312","type":"link in","z":"8a0421ea.83b38","name":"","links":["5099bf7d.9b148"],"x":66.5,"y":977,"wires":[["bf7b79c.c193508","5fca0885.de583"]]},{"id":"b0e0cdc9.46bbc","type":"link in","z":"8a0421ea.83b38","name":"","links":["dbaae4fc.7d252"],"x":55.5,"y":1739,"wires":[["8db51c9a.eaf868","736ec240.7f14dc"]]},{"id":"bf7b79c.c193508","type":"debug","z":"8a0421ea.83b38","name":"Form 4 sec 1","active":false,"console":"false","complete":"payload","x":248.5,"y":935,"wires":[]},{"id":"8db51c9a.eaf868","type":"debug","z":"8a0421ea.83b38","name":"Form 4 min 1","active":false,"console":"false","complete":"payload","x":218.5,"y":1707,"wires":[]},{"id":"5fca0885.de583","type":"function","z":"8a0421ea.83b38","name":"Format 4 secs","func":"var input = msg.payload;\nvar time = null;\nvar temperatura = null;\nvar iluminacion = null;\nvar ruido = null;\nvar co2 = null;\nvar res1 = {payload:null};\nvar res2 = {payload:null};\nvar res3 = {payload:null};\nvar res4 = {payload:null};\nvar res5 = {payload:null};\n\ntime = input.room.sensetime;\ntemperatura = input.room.Temp.data;\nif(input.room.Ilum != null)\n    iluminacion = input.room.Ilum.data;\nif(input.room.Ruid != null)\n    ruido = input.room.Ruid.data;\nif(input.room.CO != null)\nco2 = input.room.CO.data;\n\n\nres1.payload = temperatura;\nres1.topic = \"temperature\";\nres2.payload = iluminacion;\nres2.topic = \"temperature\";\nres3.payload = ruido;\nres3.topic = \"temperature\";\nres4.payload = co2;\nres4.topic = \"temperature\";\nres5.payload = time;\nres5.topic = \"time\";\n\nreturn [res1, res2, res3, res4, res5];","outputs":"5","noerr":0,"x":250.5,"y":1034,"wires":[["76a80e92.e787c","336eeefa.993992","8b79b77a.05dd08"],["453765ab.033e1c","bfa5e4dc.e1a5f8","9ce2e2f5.ae2f3"],["2336924f.178c4e","832526d5.aaf43","2408dbc4.1edebc"],["c7dce0b8.372f08","e344c258.21d728","62d4e0fa.7bea38"],["37c5e8c8.08d2a8","506cded3.0e89a","b0116c83.3e425","365a0f62.24ceb8","26fe7b91.913bac"]]},{"id":"736ec240.7f14dc","type":"function","z":"8a0421ea.83b38","name":"Format 4 mins","func":"var input = msg.payload;\nvar time = null;\nvar temperatura = 0;\nvar iluminacion = 0;\nvar ruido = 0;\nvar co2 = 0;\nvar res1 = {payload:null};\nvar res2 = {payload:null};\nvar res3 = {payload:null};\nvar res4 = {payload:null};\nvar res5 = {payload:null};\n\ntime = input.sensetime;\ntemperatura = input.datos.temp;\niluminacion = input.datos.ilum;\nruido= input.datos.ruid;\nco2 = input.datos.co;\n\n\nres1.payload = temperatura;\nres1.topic = \"temperature\";\nres2.payload = iluminacion;\nres2.topic = \"temperature\";\nres3.payload = ruido;\nres3.topic = \"temperature\";\nres4.payload = co2;\nres4.topic = \"temperature\";\nres5.payload = time;\nres5.topic = \"time\";\n\nreturn [res1, res2, res3, res4, res5];","outputs":"5","noerr":0,"x":237.5,"y":1782,"wires":[["18ca7f95.057cd8","9932b035.24587","6c72e50a.01389c"],["f825a9eb.6599d","80a167d6.f6d9c"],["fbdab5d8.0d726","a782e388.6c8d28"],["59c0b4c2.ca828c","71ad1906.06c67"],["2157bea4.512a7a","2eb58b3d.eb761c","75bc3f2d.bead88","3c137437.999b2c","ebb9b91e.b81c5"]]},{"id":"336eeefa.993992","type":"ui_chart","z":"8a0421ea.83b38","name":"Temperature Sec Chart","group":"c6c6f6e4.eb2eb","order":0,"width":0,"height":0,"label":"Histórico de Temperatura (sec)","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"¡¡¡¡SIN DATOS!!!!","dot":true,"ymin":"0","ymax":"100","removeOlder":"10","removeOlderPoints":"200","removeOlderUnit":"1","cutout":0,"useOneColor":false,"colors":["#1F77B4","#AEC7E8","#FF7F0E","#2CA02C","#98DF8A","#D62728","#FF9896","#9467BD","#C5B0D5"],"x":724.5,"y":655,"wires":[[],[]]},{"id":"8b79b77a.05dd08","type":"ui_gauge","z":"8a0421ea.83b38","name":"Medición Actual Temperatura","group":"c6c6f6e4.eb2eb","order":0,"width":0,"height":0,"gtype":"gage","title":"Medición Actual Temperatura","label":"C","format":"{{value}}","min":0,"max":"40","colors":["#00B500","#E6E600","#CA3838"],"seg1":"","seg2":"","x":735.5,"y":703,"wires":[]},{"id":"37c5e8c8.08d2a8","type":"ui_text","z":"8a0421ea.83b38","group":"c6c6f6e4.eb2eb","order":0,"width":0,"height":0,"name":"Sense Time","label":"Tiempo","format":"{{msg.payload}}","layout":"col-center","x":685.5,"y":754,"wires":[]},{"id":"76a80e92.e787c","type":"debug","z":"8a0421ea.83b38","name":"AFTER SEC","active":false,"console":"false","complete":"payload","x":683.5,"y":611,"wires":[]},{"id":"506cded3.0e89a","type":"debug","z":"8a0421ea.83b38","name":"AFTER SEC 2","active":false,"console":"false","complete":"payload","x":696.5,"y":802,"wires":[]},{"id":"18ca7f95.057cd8","type":"debug","z":"8a0421ea.83b38","name":"AFTER MIN1","active":false,"console":"false","complete":"payload","x":562.5,"y":1512,"wires":[]},{"id":"2eb58b3d.eb761c","type":"debug","z":"8a0421ea.83b38","name":"AFTER MIN2","active":false,"console":"false","complete":"payload","x":561.5,"y":1708,"wires":[]},{"id":"9932b035.24587","type":"ui_chart","z":"8a0421ea.83b38","name":"Temperature Sec Chart","group":"c6c6f6e4.eb2eb","order":0,"width":0,"height":0,"label":"Histórico de Temperatura (min)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"¡¡¡¡Sin DATOS!!!!","dot":true,"ymin":"0","ymax":"500","removeOlder":"20","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1F77B4","#AEC7E8","#FF7F0E","#2CA02C","#98DF8A","#D62728","#FF9896","#9467BD","#C5B0D5"],"x":603,"y":1559,"wires":[[],[]]},{"id":"6c72e50a.01389c","type":"ui_gauge","z":"8a0421ea.83b38","name":"Temperatura","group":"c6c6f6e4.eb2eb","order":0,"width":0,"height":0,"gtype":"gage","title":"Medición Promedio de Temperatura","label":"C","format":"{{value}}","min":0,"max":"40","colors":["#00B500","#E6E600","#CA3838"],"seg1":"","seg2":"","x":564,"y":1607,"wires":[]},{"id":"2157bea4.512a7a","type":"ui_text","z":"8a0421ea.83b38","group":"c6c6f6e4.eb2eb","order":0,"width":0,"height":0,"name":"Sense Time","label":"Tiempo","format":"{{msg.payload}}","layout":"col-center","x":564,"y":1657,"wires":[]},{"id":"f39f3963.4fd4d","type":"debug","z":"6f48cf3e.cfd69","name":"after topic","active":false,"console":"false","complete":"payload","x":725.5,"y":194,"wires":[]},{"id":"70f0b0ce.382b1","type":"debug","z":"8a0421ea.83b38","name":"getsec","active":false,"console":"false","complete":"payload","x":583.5,"y":202,"wires":[]},{"id":"2336924f.178c4e","type":"ui_chart","z":"8a0421ea.83b38","name":"Ruido Sec Chart","group":"e50819e8.10687","order":0,"width":0,"height":0,"label":"Histórico de Ruido (sec)","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"¡¡¡¡SIN DATOS!!!!","dot":true,"ymin":"0","ymax":"1000","removeOlder":"30","removeOlderPoints":"1000000","removeOlderUnit":"1","cutout":0,"useOneColor":false,"colors":["#1F77B4","#AEC7E8","#FF7F0E","#2CA02C","#98DF8A","#D62728","#FF9896","#9467BD","#C5B0D5"],"x":701,"y":1068,"wires":[[],[]]},{"id":"832526d5.aaf43","type":"ui_gauge","z":"8a0421ea.83b38","name":"Medición Actual Ruido","group":"e50819e8.10687","order":0,"width":0,"height":0,"gtype":"gage","title":"Medición Actual","label":"dB","format":"{{value}}","min":0,"max":"150","colors":["#00B500","#E6E600","#CA3838"],"seg1":"","seg2":"","x":722,"y":1116,"wires":[]},{"id":"365a0f62.24ceb8","type":"ui_text","z":"8a0421ea.83b38","group":"e50819e8.10687","order":0,"width":0,"height":0,"name":"Sense Time","label":"Tiempo","format":"{{msg.payload}}","layout":"col-center","x":692,"y":1167,"wires":[]},{"id":"453765ab.033e1c","type":"ui_chart","z":"8a0421ea.83b38","name":"Iluminación Sec Chart","group":"d8fc1335.cca408","order":0,"width":0,"height":0,"label":"Histórico de Iluminación (sec)","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"¡¡¡¡SIN DATOS!!!!","dot":true,"ymin":"0","ymax":"1000","removeOlder":"10","removeOlderPoints":"10000","removeOlderUnit":"1","cutout":0,"useOneColor":false,"colors":["#1F77B4","#AEC7E8","#FF7F0E","#2CA02C","#98DF8A","#D62728","#FF9896","#9467BD","#C5B0D5"],"x":716,"y":884,"wires":[[],[]]},{"id":"bfa5e4dc.e1a5f8","type":"ui_gauge","z":"8a0421ea.83b38","name":"Medición Actual de Iluminación","group":"d8fc1335.cca408","order":0,"width":0,"height":0,"gtype":"gage","title":"Medición Actual de Iluminación","label":"Lux","format":"{{value}}","min":0,"max":"100000","colors":["#00B500","#E6E600","#CA3838"],"seg1":"","seg2":"","x":747,"y":932,"wires":[]},{"id":"26fe7b91.913bac","type":"ui_text","z":"8a0421ea.83b38","group":"d8fc1335.cca408","order":0,"width":0,"height":0,"name":"Sense Time","label":"Tiempo","format":"{{msg.payload}}","layout":"col-center","x":687,"y":983,"wires":[]},{"id":"c7dce0b8.372f08","type":"ui_chart","z":"8a0421ea.83b38","name":"Gases Sec Chart","group":"34626b98.0560f4","order":0,"width":0,"height":0,"label":"Histórico de Gases (sec)","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"¡¡¡¡SIN DATOS!!!!","dot":true,"ymin":"0","ymax":"1000","removeOlder":"10","removeOlderPoints":"","removeOlderUnit":"1","cutout":0,"useOneColor":false,"colors":["#1F77B4","#AEC7E8","#FF7F0E","#2CA02C","#98DF8A","#D62728","#FF9896","#9467BD","#C5B0D5"],"x":714,"y":1230,"wires":[[],[]]},{"id":"62d4e0fa.7bea38","type":"ui_gauge","z":"8a0421ea.83b38","name":"Medición Actual de Gases","group":"34626b98.0560f4","order":0,"width":0,"height":0,"gtype":"gage","title":"Medición Actual de Gases","label":"ppm","format":"{{value}}","min":0,"max":"500","colors":["#00B500","#E6E600","#CA3838"],"seg1":"","seg2":"","x":745,"y":1278,"wires":[]},{"id":"b0116c83.3e425","type":"ui_text","z":"8a0421ea.83b38","group":"34626b98.0560f4","order":0,"width":0,"height":0,"name":"Sense Time","label":"Tiempo","format":"{{msg.payload}}","layout":"col-center","x":695,"y":1329,"wires":[]},{"id":"f825a9eb.6599d","type":"ui_chart","z":"8a0421ea.83b38","name":"Iluminación Sec Chart","group":"d8fc1335.cca408","order":0,"width":0,"height":0,"label":"Histórico de Iluminación (min)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"¡¡¡¡Sin DATOS!!!!","dot":true,"ymin":"0","ymax":"500","removeOlder":"20","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1F77B4","#AEC7E8","#FF7F0E","#2CA02C","#98DF8A","#D62728","#FF9896","#9467BD","#C5B0D5"],"x":595,"y":1789,"wires":[[],[]]},{"id":"80a167d6.f6d9c","type":"ui_gauge","z":"8a0421ea.83b38","name":"Iluminación","group":"d8fc1335.cca408","order":0,"width":0,"height":0,"gtype":"gage","title":"Medición Promedio de Iluminación","label":"Lux","format":"{{value}}","min":0,"max":"100000","colors":["#00B500","#E6E600","#CA3838"],"seg1":"","seg2":"","x":566,"y":1837,"wires":[]},{"id":"75bc3f2d.bead88","type":"ui_text","z":"8a0421ea.83b38","group":"d8fc1335.cca408","order":0,"width":0,"height":0,"name":"Sense Time","label":"Tiempo","format":"{{msg.payload}}","layout":"col-center","x":566,"y":1887,"wires":[]},{"id":"fbdab5d8.0d726","type":"ui_chart","z":"8a0421ea.83b38","name":"Ruido Sec Chart","group":"e50819e8.10687","order":0,"width":0,"height":0,"label":"Histórico de Ruido (min)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"¡¡¡¡Sin DATOS!!!!","dot":true,"ymin":"0","ymax":"500","removeOlder":"20","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1F77B4","#AEC7E8","#FF7F0E","#2CA02C","#98DF8A","#D62728","#FF9896","#9467BD","#C5B0D5"],"x":576,"y":1958,"wires":[[],[]]},{"id":"a782e388.6c8d28","type":"ui_gauge","z":"8a0421ea.83b38","name":"Medición Promedio de Ruido","group":"e50819e8.10687","order":0,"width":0,"height":0,"gtype":"gage","title":"Medición Promedio de Ruido","label":"dB","format":"{{value}}","min":0,"max":"150","colors":["#00B500","#E6E600","#CA3838"],"seg1":"","seg2":"","x":617,"y":2006,"wires":[]},{"id":"3c137437.999b2c","type":"ui_text","z":"8a0421ea.83b38","group":"e50819e8.10687","order":0,"width":0,"height":0,"name":"Sense Time","label":"Tiempo","format":"{{msg.payload}}","layout":"col-center","x":567,"y":2056,"wires":[]},{"id":"59c0b4c2.ca828c","type":"ui_chart","z":"8a0421ea.83b38","name":"Gases Sec Chart","group":"34626b98.0560f4","order":0,"width":0,"height":0,"label":"Histórico de Gases (min)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"¡¡¡¡Sin DATOS!!!!","dot":true,"ymin":"0","ymax":"500","removeOlder":"20","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1F77B4","#AEC7E8","#FF7F0E","#2CA02C","#98DF8A","#D62728","#FF9896","#9467BD","#C5B0D5"],"x":589,"y":2123,"wires":[[],[]]},{"id":"71ad1906.06c67","type":"ui_gauge","z":"8a0421ea.83b38","name":"Medición Promedio de Gases","group":"34626b98.0560f4","order":0,"width":0,"height":0,"gtype":"gage","title":"Medición Promedio de Gases","label":"ppm","format":"{{value}}","min":0,"max":"500","colors":["#00B500","#E6E600","#CA3838"],"seg1":"","seg2":"","x":630,"y":2171,"wires":[]},{"id":"ebb9b91e.b81c5","type":"ui_text","z":"8a0421ea.83b38","group":"34626b98.0560f4","order":0,"width":0,"height":0,"name":"Sense Time","label":"Tiempo","format":"{{msg.payload}}","layout":"col-center","x":570,"y":2221,"wires":[]},{"id":"fea5c726.3d9df","type":"debug","z":"639335ca.278d5c","name":"topic","active":false,"console":"false","complete":"topic","x":704.9999999999999,"y":222.85714285714283,"wires":[]},{"id":"9ce2e2f5.ae2f3","type":"debug","z":"8a0421ea.83b38","name":"","active":false,"console":"false","complete":"false","x":700.7142857142857,"y":851.4285714285713,"wires":[]},{"id":"2408dbc4.1edebc","type":"debug","z":"8a0421ea.83b38","name":"luz","active":true,"console":"false","complete":"payload","x":670,"y":1025.71435546875,"wires":[]},{"id":"e344c258.21d728","type":"debug","z":"8a0421ea.83b38","name":"ruido","active":true,"console":"false","complete":"payload","x":680,"y":1201.4285888671875,"wires":[]},{"id":"83ac807b.d7d4b8","type":"catch","z":"8a0421ea.83b38","name":"","scope":null,"x":139.28571428571428,"y":1388.5714285714284,"wires":[[]]}]