Grupo9-master/Node-Red/NodeRedSecured.txt
[{"id":"97262f52.dd806","type":"tab","label":"Telemetry Flow","disabled":false,"info":""},{"id":"1ce0e757.7c1519","type":"tab","label":"Rules Flow","disabled":false,"info":""},{"id":"15f6491c.f7b307","type":"serial-port","z":"","serialport":"COM4","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","newline":"\\n","bin":"false","out":"char","addchar":true},{"id":"c30cd040.d7203","type":"ui_tab","z":"","name":"Home","icon":"dashboard"},{"id":"96f6de30.80d96","type":"ui_base","name":"Node-RED Dashboard","theme":"theme-light"},{"id":"133376ec.0169a9","type":"mongodb","z":"","hostname":"127.0.0.1","port":"27017","db":"rediot","name":""},{"id":"ff6edad8.1dd278","type":"ui_group","z":"","name":"Estado del Depósito (Home)","tab":"c46e4d17.c6a1","disp":true,"width":"6"},{"id":"3190ed78.dcad72","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}}}},{"id":"c46e4d17.c6a1","type":"ui_tab","z":"","name":"Home","icon":"dashboard"},{"id":"e94005f2.f09738","type":"serial-port","z":"","serialport":"COM4","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","newline":"\\n","bin":"false","out":"char","addchar":true},{"id":"fbb12d63.2c2b7","type":"ui_tab","z":"","name":"Home","icon":"dashboard"},{"id":"fda5fc26.fa687","type":"ui_base","name":"Node-RED Dashboard","theme":"theme-light"},{"id":"8c5cb2cb.02d73","type":"mongodb","z":"","hostname":"127.0.0.1","port":"27017","db":"rediot","name":""},{"id":"21396ca7.0358d4","type":"ui_group","z":"","name":"Estado del Depósito (Home)","tab":"defc43c1.e9b5a","disp":true,"width":"6"},{"id":"9bec19f1.430248","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}}}},{"id":"defc43c1.e9b5a","type":"ui_tab","z":"","name":"Home","icon":"dashboard"},{"id":"408fa40b.46e64c","type":"serial-port","z":"","serialport":"COM4","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","newline":"\\n","bin":"false","out":"char","addchar":true},{"id":"217cc37f.5e7bac","type":"ui_tab","z":"","name":"Home","icon":"dashboard"},{"id":"ef1d77ed.a01858","type":"ui_base","name":"Node-RED Dashboard","theme":"theme-light"},{"id":"3598549b.4dcf0c","type":"mongodb","z":"","hostname":"127.0.0.1","port":"27017","db":"rediot","name":""},{"id":"85f12456.ff6af8","type":"ui_group","z":"","name":"Estado del Depósito (Home)","tab":"3c07965b.c1c96a","disp":true,"width":"6"},{"id":"25bbd266.15d62e","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}}}},{"id":"3c07965b.c1c96a","type":"ui_tab","z":"","name":"Home","icon":"dashboard"},{"id":"d9285b8e.a17598","type":"serial-port","z":"","serialport":"COM4","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","newline":"\\n","bin":"false","out":"char","addchar":true},{"id":"7caf72cc.99ddec","type":"ui_tab","z":"","name":"Home","icon":"dashboard"},{"id":"9aa2fa19.1f41c8","type":"ui_base","name":"Node-RED Dashboard","theme":"theme-light"},{"id":"31c11b8.fcb1ae4","type":"mongodb","z":"","hostname":"127.0.0.1","port":"27017","db":"rediot","name":""},{"id":"57f2fbde.6af534","type":"ui_group","z":"","name":"Estado del Depósito (Home)","tab":"4b2de275.5b478c","disp":true,"width":"6"},{"id":"e0cdecdf.b242e","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}}}},{"id":"4b2de275.5b478c","type":"ui_tab","z":"","name":"Home","icon":"dashboard"},{"id":"f69815ad.f11098","type":"mqtt-broker","z":null,"broker":"172.24.42.55","port":"8083","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"87a3d243.714f5","type":"serial-port","z":"","serialport":"COM4","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","newline":"\\n","bin":"false","out":"char","addchar":true},{"id":"ed9ef4c3.300038","type":"ui_tab","z":"","name":"Home","icon":"dashboard"},{"id":"3cd1cc4f.6f1054","type":"ui_base","name":"Node-RED Dashboard","theme":"theme-light"},{"id":"82de9c89.e4f63","type":"mongodb","z":"","hostname":"127.0.0.1","port":"27017","db":"rediot","name":""},{"id":"56c52196.01819","type":"ui_group","z":"","name":"Estado del Depósito (Home)","tab":"f3679010.ac0b9","disp":true,"width":"6"},{"id":"52604efe.1056f","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}}}},{"id":"f3679010.ac0b9","type":"ui_tab","z":"","name":"Home","icon":"dashboard"},{"id":"80563877.57d018","type":"serial-port","z":"","serialport":"COM4","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","newline":"\\n","bin":"false","out":"char","addchar":true},{"id":"a2776c2a.eaac5","type":"mongodb","z":"","hostname":"127.0.0.1","port":"27017","db":"rediot","name":""},{"id":"4d2b85a2.769efc","type":"ui_group","z":"","name":"Mediciones","tab":"aea9e1c4.1ae8c","disp":true,"width":"10"},{"id":"372f62f3.b034be","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}}}},{"id":"644f5cf1.1ddfc4","type":"ui_tab","z":"","name":"Home","icon":"dashboard"},{"id":"4e875a39.e59d14","type":"serial-port","z":"","serialport":"/dev/tty.usbserial-A100E12Y","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","newline":"\\n","bin":"false","out":"char","addchar":true},{"id":"aea9e1c4.1ae8c","type":"ui_tab","z":"","name":"Ruido","icon":"dashboard"},{"id":"50a4649b.6a0e5c","type":"ui_tab","z":"","name":"Temperatura","icon":"dashboard"},{"id":"856113ea.7908e","type":"ui_group","z":"","name":"Mediciones","tab":"50a4649b.6a0e5c","disp":true,"width":"10"},{"id":"530ce43c.4b145c","type":"ui_tab","z":"","name":"Iluminación","icon":"dashboard"},{"id":"813db798.45c188","type":"ui_group","z":"","name":"Mediciones","tab":"530ce43c.4b145c","disp":true,"width":"10"},{"id":"be37e40.3d81a2","type":"ui_tab","z":"","name":"Gases","icon":"dashboard"},{"id":"8160a1f0.a9654","type":"ui_group","z":"","name":"Mediciones","tab":"be37e40.3d81a2","disp":true,"width":"10"},{"id":"9565e1be.ae28e","type":"serial-port","z":"","serialport":"COM4","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","newline":"\\n","bin":"false","out":"char","addchar":true},{"id":"8bab84b0.3c6e28","type":"mongodb","z":"","hostname":"127.0.0.1","port":"27017","db":"Arquisoft","name":""},{"id":"2448cb60.ef4464","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}}}},{"id":"123dd507.62da6b","type":"serial-port","z":"","serialport":"COM4","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","newline":"\\n","bin":"false","out":"char","addchar":true},{"id":"b844808f.ca831","type":"mongodb","z":"","hostname":"127.0.0.1","port":"27017","db":"rediot","name":""},{"id":"5813cb70.0fb194","type":"ui_group","z":"","name":"Mediciones","tab":"1c9bdd4d.f7b383","disp":true,"width":"10"},{"id":"c8196651.9bd1f8","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}}}},{"id":"150eb7c7.46fbe8","type":"ui_tab","z":"","name":"Home","icon":"dashboard"},{"id":"724fabaf.9fdef4","type":"serial-port","z":"","serialport":"/dev/tty.usbserial-A100DNEK","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","newline":"\\n","bin":"false","out":"char","addchar":true},{"id":"1c9bdd4d.f7b383","type":"ui_tab","z":"","name":"Ruido","icon":"dashboard"},{"id":"7efbdca6.0dc434","type":"ui_tab","z":"","name":"Temperatura","icon":"dashboard"},{"id":"2395d44.f8c4b2c","type":"ui_group","z":"","name":"Mediciones","tab":"7efbdca6.0dc434","disp":true,"width":"10"},{"id":"ed3ffd37.17f9a","type":"ui_tab","z":"","name":"Iluminación","icon":"dashboard"},{"id":"5f169d66.3f1bf4","type":"ui_group","z":"","name":"Mediciones","tab":"ed3ffd37.17f9a","disp":true,"width":"10"},{"id":"48633dd8.20d674","type":"ui_tab","z":"","name":"Gases","icon":"dashboard"},{"id":"ca623949.45c068","type":"ui_group","z":"","name":"Mediciones","tab":"48633dd8.20d674","disp":true,"width":"10"},{"id":"c92c8a99.4f9368","type":"mqtt-broker","z":"","broker":"m14.cloudmqtt.com","port":"20947","tls":"","clientid":"","usetls":true,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":""},{"id":"e0a41a4c.40e568","type":"serial-port","z":"","serialport":"COM4","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","newline":"\\n","bin":"false","out":"char","addchar":true},{"id":"1cb63dff.9ff902","type":"ui_tab","z":"","name":"Home","icon":"dashboard"},{"id":"ad2fc2d1.de5ea","type":"ui_base","name":"Node-RED Dashboard","theme":"theme-light"},{"id":"8b0dd2e.2da723","type":"mongodb","z":"","hostname":"127.0.0.1","port":"27017","db":"rediot","name":""},{"id":"94a29fbb.bfa54","type":"ui_group","z":"","name":"Estado del Depósito (Home)","tab":"d1b690d4.1f111","disp":true,"width":"6"},{"id":"f4e8d8cf.dde6a8","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}}}},{"id":"d1b690d4.1f111","type":"ui_tab","z":"","name":"Home","icon":"dashboard"},{"id":"d7171fd3.14ae7","type":"serial-port","z":"","serialport":"COM4","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","newline":"\\n","bin":"false","out":"char","addchar":true},{"id":"feaa83d3.1bc94","type":"ui_tab","z":"","name":"Home","icon":"dashboard"},{"id":"9fe32ce5.ea9c9","type":"ui_base","name":"Node-RED Dashboard","theme":"theme-light"},{"id":"daa27f8d.d4f96","type":"mongodb","z":"","hostname":"127.0.0.1","port":"27017","db":"rediot","name":""},{"id":"5025345f.cfb6fc","type":"ui_group","z":"","name":"Estado del Depósito (Home)","tab":"e90654b8.7cd458","disp":true,"width":"6"},{"id":"d15a3ebe.b69fa","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}}}},{"id":"e90654b8.7cd458","type":"ui_tab","z":"","name":"Home","icon":"dashboard"},{"id":"9a414503.e3a5f8","type":"serial-port","z":"","serialport":"COM4","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","newline":"\\n","bin":"false","out":"char","addchar":true},{"id":"68dfd071.375a3","type":"ui_tab","z":"","name":"Home","icon":"dashboard"},{"id":"346e71bd.9c548e","type":"ui_base","name":"Node-RED Dashboard","theme":"theme-light"},{"id":"867af7ca.afffa8","type":"mongodb","z":"","hostname":"127.0.0.1","port":"27017","db":"rediot","name":""},{"id":"ab4bc34a.0f78c","type":"ui_group","z":"","name":"Estado del Depósito (Home)","tab":"7b8373c.601bc8c","disp":true,"width":"6"},{"id":"fecb804.8901b8","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}}}},{"id":"7b8373c.601bc8c","type":"ui_tab","z":"","name":"Home","icon":"dashboard"},{"id":"1df3d254.4c979e","type":"serial-port","z":"","serialport":"COM4","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","newline":"\\n","bin":"false","out":"char","addchar":true},{"id":"b7991943.d25b08","type":"ui_tab","z":"","name":"Home","icon":"dashboard"},{"id":"18d00afd.8ca2a5","type":"ui_base","name":"Node-RED Dashboard","theme":"theme-light"},{"id":"8f6901d3.dc88","type":"mongodb","z":"","hostname":"127.0.0.1","port":"27017","db":"rediot","name":""},{"id":"8163a7ef.159148","type":"ui_group","z":"","name":"Estado del Depósito (Home)","tab":"d6aa8e88.f26a2","disp":true,"width":"6"},{"id":"98652cbc.3048f","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}}}},{"id":"d6aa8e88.f26a2","type":"ui_tab","z":"","name":"Home","icon":"dashboard"},{"id":"a90a4e05.077c","type":"mqtt-broker","z":"","broker":"m14.cloudmqtt.com","port":"10947","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"8881a68c.9ec928","type":"function","z":"97262f52.dd806","name":"format","func":"var res1 = {};\nvar res2 = {};\nvar res3 = {};\nvar res4 = {};\nvar tempArray = [];\nvar unit =\"\";\ninfoString = msg.payload;\ntempArray = infoString.split(\":\");\nif(tempArray[1] != null)\n    unit = tempArray[1].replace(\"\\r\\n\", \"\");\nswitch (unit) {\n    case \"C\":\n        res1.topic = \"Temp\";\n        res1.payload = {\"data\": parseInt(tempArray[0]), \"unit\": unit,\"place\": \"Deposito Externo\"};\n        break;\n    case \"dB\":\n        res2.topic = \"Ruid\";\n        res2.payload = {\"data\": parseInt(tempArray[0]), \"unit\": unit,\"place\": \"Deposito Externo\"};\n        break;\n    case \"Lux\":\n        res3.topic = \"Ilum\";\n        res3.payload = {\"data\": parseInt(tempArray[0]), \"unit\": unit,\"place\": \"Deposito Externo\"};\n        break;\n    case \"ppm\":\n        res4.topic = \"CO\";\n        res4.payload = {\"data\": parseInt(tempArray[0]), \"unit\": unit,\"place\": \"Deposito Externo\"};\n        break;\n    default:\n        res = null;\n    \tbreak;\n    }\nreturn [res1,res2,res3,res4];","outputs":"4","noerr":0,"x":415.5,"y":217,"wires":[["ad4b830f.efff2"],["536c14bb.bcd9ec"],["2c039c61.65a244"],["cf31fa55.d68308"]]},{"id":"acc16c27.7741b","type":"debug","z":"97262f52.dd806","name":"Before format","active":false,"console":"false","complete":"payload","x":444.5,"y":150,"wires":[]},{"id":"ad4b830f.efff2","type":"function","z":"97262f52.dd806","name":"Merge 2 Msgs","func":"context.data = context.data || {};\n\nswitch (msg.topic) {\n    case \"roomTime\":\n        context.data.sensetime = msg.payload;\n        msg = null;\n        break;\n    case \"Temp\":\n        context.data = msg.payload;\n        context.data.sensetime = (new Date()).getTime();\n        msg = null;\n        break;\n    \n    default:\n        msg = null;\n    \tbreak;\n}\n\nif(context.data.data != null ) {\n\tres = {};\n    res.payload = JSON.stringify(context.data);\n    \n    context.data = null;\n\treturn res;\n}","outputs":1,"noerr":0,"x":715.5,"y":196,"wires":[["24d06c42.8c5324","4ee087ca.52e7c8","fe8125bd.be25c8"]]},{"id":"24d06c42.8c5324","type":"debug","z":"97262f52.dd806","name":"After Merge","active":false,"console":"false","complete":"payload","x":990.5,"y":356,"wires":[]},{"id":"4ee087ca.52e7c8","type":"mqtt out","z":"97262f52.dd806","name":"Mandar cosas","topic":"alta.piso1.local1","qos":"0","retain":"false","broker":"c92c8a99.4f9368","x":998.5,"y":238,"wires":[]},{"id":"cbe12c33.b3a4e","type":"mqtt in","z":"1ce0e757.7c1519","name":"Recibir","topic":"alta.piso1.local1","qos":"0","broker":"a90a4e05.077c","x":237.16665649414062,"y":225.79998779296875,"wires":[["e1e76998.d0a208"]]},{"id":"536c14bb.bcd9ec","type":"function","z":"97262f52.dd806","name":"Merge 2 Msgs","func":"context.data = context.data || {};\n\nswitch (msg.topic) {\n    case \"roomTime\":\n        context.data.sensetime = msg.payload;\n        msg = null;\n        break;\n    case \"Ruid\":\n        context.data = msg.payload;\n        context.data.sensetime = (new Date()).getTime();;\n        msg = null;\n        break;\n    default:\n        msg = null;\n    \tbreak;\n}\n\nif(context.data.data != null) {\n\tres = {};\n    res.payload = JSON.stringify(context.data);\n    context.data = null;\n\treturn res;\n}","outputs":1,"noerr":0,"x":719,"y":238,"wires":[["4ee087ca.52e7c8","3579b9e.b097b46"]]},{"id":"cf31fa55.d68308","type":"function","z":"97262f52.dd806","name":"Merge 2 Msgs","func":"context.data = context.data || {};\n\nswitch (msg.topic) {\n    case \"roomTime\":\n        context.data.sensetime = msg.payload;\n        msg = null;\n        break;\n    case \"CO\":\n        context.data = msg.payload;\n        context.data.sensetime = (new Date()).getTime();;\n        msg = null;\n        break;    \n    default:\n        msg = null;\n    \tbreak;\n}\n\nif(context.data.data != null) {\n\tres = {};\n    res.payload = JSON.stringify(context.data);\n    context.data = null;\n\treturn res;\n}","outputs":1,"noerr":0,"x":719,"y":318,"wires":[["4ee087ca.52e7c8","d834b35.2bcc75"]]},{"id":"2c039c61.65a244","type":"function","z":"97262f52.dd806","name":"Merge 2 Msgs","func":"context.data = context.data || {};\n\nswitch (msg.topic) {\n    case \"roomTime\":\n        context.data.sensetime = msg.payload;\n        msg = null;\n        break;\n    case \"Ilum\":\n        context.data= msg.payload;\n        context.data.sensetime = (new Date()).getTime();;\n        msg = null;\n        break;\n    default:\n        msg = null;\n    \tbreak;\n}\n\nif(context.data.data != null) {\n\tres = {};\n    res.payload = JSON.stringify(context.data);\n    context.data = null;\n\treturn res;\n}","outputs":1,"noerr":0,"x":719,"y":279,"wires":[["4ee087ca.52e7c8","59b11149.a31fb"]]},{"id":"fe8125bd.be25c8","type":"debug","z":"97262f52.dd806","name":"temp","active":false,"console":"false","complete":"payload","x":955.5,"y":62,"wires":[]},{"id":"3579b9e.b097b46","type":"debug","z":"97262f52.dd806","name":"Ruid","active":false,"console":"false","complete":"payload","x":955,"y":101,"wires":[]},{"id":"59b11149.a31fb","type":"debug","z":"97262f52.dd806","name":"Ilum","active":false,"console":"false","complete":"payload","x":954,"y":140,"wires":[]},{"id":"d834b35.2bcc75","type":"debug","z":"97262f52.dd806","name":"CO","active":false,"console":"false","complete":"payload","x":956,"y":179,"wires":[]},{"id":"e0b07977.bd6508","type":"inject","z":"97262f52.dd806","name":"Temp","topic":"","payload":"100:C","payloadType":"str","repeat":"5","crontab":"","once":true,"x":150,"y":200,"wires":[["8881a68c.9ec928"]]},{"id":"84e9c31e.84d86","type":"inject","z":"97262f52.dd806","name":"Lux","topic":"","payload":"25:Lux","payloadType":"str","repeat":"5","crontab":"","once":true,"x":150,"y":240,"wires":[["8881a68c.9ec928"]]},{"id":"479caab5.6c9174","type":"inject","z":"97262f52.dd806","name":"PPM","topic":"","payload":"27:ppm","payloadType":"str","repeat":"5","crontab":"","once":true,"x":150,"y":280,"wires":[["8881a68c.9ec928"]]},{"id":"4eaffde4.c042f4","type":"inject","z":"97262f52.dd806","name":"Sonido","topic":"","payload":"29:dB","payloadType":"str","repeat":"5","crontab":"","once":true,"x":140,"y":320,"wires":[["8881a68c.9ec928"]]},{"id":"82e200b7.d5fec","type":"http in","z":"97262f52.dd806","name":"","url":"/temp","method":"post","upload":true,"swaggerDoc":"","x":250,"y":60,"wires":[[]]},{"id":"37f957ba.1c1958","type":"http in","z":"97262f52.dd806","name":"","url":"/lux","method":"post","upload":true,"swaggerDoc":"","x":100,"y":80,"wires":[[]]},{"id":"4b8fffa.f2a1c","type":"http in","z":"97262f52.dd806","name":"","url":"/ppm","method":"post","upload":true,"swaggerDoc":"","x":100,"y":40,"wires":[[]]},{"id":"c03cd81c.bfeff8","type":"http in","z":"97262f52.dd806","name":"","url":"/sonido","method":"post","upload":false,"swaggerDoc":"","x":270,"y":20,"wires":[[]]},{"id":"c4f17ee8.2b1f","type":"http response","z":"97262f52.dd806","name":"OK","statusCode":"200","headers":{},"x":365,"y":458,"wires":[]},{"id":"e1e76998.d0a208","type":"kafka","z":"1ce0e757.7c1519","zkquorum":"172.24.42.27:8081","topics":"alta.piso1.local1","debug":"","x":616,"y":227,"wires":[]}]